<?xml version="1.0"?>
<model>
  <name>Simple Ackermann UGV 5</name>
  <version>1.0</version>

  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>Batbaina Guikoura</name>
  </author>

  <description>
    Simple four-wheel Ackermann UGV model for LCBR trajectory execution.
  </description>
</model>
